# Dependencies
/client/node_modules/
/server/node_modules/

# Build output
/client/dist/
/client/dist-ssr/

# Backend environment files
/server/.env
/server/.env.*
!/server/.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS / Editor files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
